<style type="text/css">

.nothingInHere{}

.Cool {
	background-color: navy;
	font-family: "Courier New";
}
.big{
	font-size: 50px;
}
a{
	font-size: 20px;
	color: #45aacc;
}
div{
	margin: 0px;
	padding: 0.1px;
	}
.myBorder{
	border-style: solid;
	border-width: 5px;
	font-weight: bold;
	background-color:#4682B4;
	color: black;	
	padding: 50px;
}
.space{
	padding: 25px;
	
}

.resize{
	height: 85px;
	width: 300px;
	font-size: 25px;
}


.text-white{
	color: white;
}
.bg-secondary{
	background-color: #6C757D;
}
			
a:hover {
	color: blue;
}
body{
	margin: 0px;
}
.floatcenter{
	text-align: center;
}
.floatleft{
	float: left;
}
.floatright{
	float: right;
}

.middle{
	text-align: center;
	margin: auto;
}
#center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.gold{
	color: gold;
	
}
.bg-white{
	background-color: white;
	color: black;
	padding: 5px;
}

.medium{
	font-size: 25px;
}




</style>