


<!DOCTYPE html>

<html lang ="en">

	<head>
	
		<title>GOLD</title>

		{% load static %}
		
		<link rel="stylesheet" href="{%static 'gold/goldStyle.css'%}">		

	
		
	</head>
	
	<body class = "bg-secondary text-white">
		<div class="Cool middle" >
			<h1> Figgy Code </h1>
			<h2> by: Carter Figgins </h2>

		</div>

		<div>
			<p class = "big middle bg-white">  Find The Worth Of Your Weight In <span class = "gold"> GOLD </span></p>
		</div>
		
		<div>
			<form>
				<div class = "middle myBorder">
					<div class = "middle myBorder">
						<label for = "weightButton" id="weightLable" class = "medium"> Enter Your Weight Here (lbs):</label>
						<input id= "weightField" type = "text" >
						<div class = "space">
							<input id= "weightButton" type = "button" onclick = "findPrice()" value = "Find Your Worth In Gold!" class = "resize">
						</div>
						<div id = "result" class = "big gold" > </div>
					</div>
					
				</div>
			</form>
		
		</div>
		
		<script type="text/javascript">
		
			
			//TODO: find a way to get API_key safe not in open
			
			// makes a Date object that had the time right now
			var date = new Date();
			
			//sets the date back 5 days
			date.setDate(date.getDay()- 5); // from Stack Overflow by user RobG
			// helps the date look good for API
			start = date.getFullYear() + '-' + (1+date.getMonth()) + '-' + date.getDate()
			
			//Carter's API_key please get your own. :)
			var apiKey = 'knxPyqV6Zc6-9rRZ4AxQ';
			//making var for data to use in code
			var theData;
			// url that links to gold prices
			var url =  `https://www.quandl.com/api/v3/datasets/LBMA/GOLD.json?api_key=${apiKey}&column_index=2&start_date=${start}`;
			
			//fetching json 
			fetch(url)
				.then(r => r.json())
				.then(json => {
					theData = json;
					
				});
			
			// When button is click this function runs
			var findPrice = function(){
			// Getting weight form user
			var weight = document.querySelector('#weightField').value;
				//Checking if the weight is a number
				if (Number(weight)){
					let From = 'lbs';
					let to = 't_oz';
					let name = location.hostname;
					// URL that will sent a GET request to my API unitconv
					let convertUrl = `http://${name}:8000/unitconv?from=lbs&to=t_oz&value=`;
					// Adding weight to the end of URL
					convertUrl= convertUrl+ weight;
					//Fetching json from unitconv 
					fetch(convertUrl)
						.then(r => r.json())
						.then(json => {
							var unitconv = json;
							// gets the t_oz in weight 
							let goldWeight = unitconv.value;
							// gets the price from gold data
							let price = theData.dataset.data[0][1];
							//Times the price with ponds in t_oz to get worth
							let worth = goldWeight * price;
							// shows data in Console
							console.log("the gold weight "+goldWeight)
							console.log("the price "+price)
							console.log("the worth "+worth);
							//The worth is rounded
							worth = parseFloat(worth).toFixed(2);
							//prints to user what the worth is
							document.querySelector('#result').textContent = `Your Worth is \$${worth}`;
					
						});
					// shows what url was used for unitconv API
					console.log(convertUrl)
					// The value put in by user
					console.log(document.querySelector('#weightField').value)
				}
				else{
					// If not a number this gets printed to user.
					document.querySelector('#result').textContent = `Weight needs to be a number`;
				}
				
		
				
				
			
			}
			
	
			
			
		</script>
		

		
		
		
	</body>





</html>